@charset "UTF-8";

*{
	box-sizing: border-box;
	font-family: poppins;
}


h1{
	color: #FF8343;
}

.products{
	padding: 7px;
	float: left;
	height: 400px;
	width: 360px;
	overflow: hidden;
	margin: 10px;
	background-color: #FFF8F3;
	margin-left: 5px;
	border:0.1px solid #FF8343;
	border-radius: 10px;
	
}

.products:hover{
	transition: transform 0.2s;
	 transform: scale(0.9); 
}

.images{
	margin-left: 60px;
	height: 220px;
	width: 220px;
	margin-top: 7px;
}

.prinfo{
	font-size: 15px;
	margin-top: -15px;
	margin-left: -20px;
}

h4{
	margin-left: 19px;
	color: #FF8343;
}

#price{
	color: green;
	font-weight: bolder;
}

.navbar{
	display: flex;
	z-index: 5;
	position: fixed;
	background-color: white;
	width: 100%;
	margin-top: -10px;
	padding: 7px;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin-left: 750px;
	margin-top: 23px;
}
li a{
	text-decoration: none;
	margin-left: 40px;
	color:#FF8343;
	font-weight: bold;
}

#logo{
	margin-left: 20px;
}

.poster{
	background-image: url("https://png.pngtree.com/background/20230427/original/pngtree-table-with-bread-and-coffee-picture-image_2494247.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height:700px;
	width: 100%;
	margin-bottom: 20px;
}

.formdiv{
	height:80px;
	width: 100%;
	padding-left : 450px;
	background-color: white;
	box-shadow: 0px 5px 5px gray;

}

.filteroptions{
	margin-top : -10px;
	margin-left:-130px;
	width: 350px;
	float: left;
	
}

input{
	width: 150px;
	border:none;
	border-bottom : 2px solid #FF8343;
	font-size:15px;
	padding:3px;
	border: 0.2px solid black;
}

h5{
	color: black;
	margin-bottom: 4px;
}

select{
	width: 150px;
	border-radius: 5px;
	font-size:15px;
	padding:3px;
}

#submitbtn{
	margin-top:23px;
	margin-left: 130px;
	width: 50px;
	height: 50px;
	background-image: url("https://cdn-icons-png.flaticon.com/512/6711/6711481.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	outline: none;
	border: 0.1px solid gray;
	
}

.productheading{
	margin-top: 60px;
}

#submitbtn:hover{
	cursor: pointer;
}

.products li{
	font-size: 13px;
}