@charset "UTF-8";

*{
	box-sizing: border-box;
	font-family: cursive;
}


h1{
	color: #FF8343;
}

.products{
	padding: 7px;
	float: left;
	height: 400px;
	width: 360px;
	overflow: hidden;
	margin: 10px;
	background-color: #FFF8F3;
	margin-left: 5px;
	box-shadow: 5px 2px 6px #ffe8c4;
	border-radius: 10px;
	
}

.products:hover{
	transition: transform 0.2s;
	 transform: scale(0.9); 
}

.images{
	margin-left: 60px;
	height: 220px;
	width: 220px;
	margin-top: 7px;
}

.prinfo{
	font-size: 15px;
	margin-top: -15px;
	margin-left: -20px;
}

h4{
	margin-left: 19px;
	color: #FF8343;
}

#price{
	color: green;
}

.navbar{
	display: flex;
	z-index: 5;
	position: fixed;
	background-color: white;
	width: 100%;
	margin-top: -10px;
	padding: 7px;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin-left: 750px;
	margin-top: 23px;
}
li a{
	text-decoration: none;
	margin-left: 40px;
	color:#FF8343;
}

#logo{
	margin-left: 20px;
}

.poster{
	background-image: url("https://png.pngtree.com/background/20230427/original/pngtree-table-with-bread-and-coffee-picture-image_2494247.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height:700px;
	width: 100%;
	margin-bottom: 20px;
}

.formdiv{
	height:70px;
	width: 80%;
	margin-left: 100px
}

.filteroptions{
	margin-left:-50px;
	width: 233px;
	float: left;
}

input{
	width: 100px;
	background-color:  #FEFAE0;
	border-radius: 5px;
	font-size:15px;
	padding:3px;
	border: 0.2px solid black;
}

h5{
	margin-bottom: 4px;
}

select{
	width: 100px;
	background-color:  #FEFAE0;
	border-radius: 5px;
	font-size:15px;
	padding:3px;
}

#submitbtn{
	margin-top:30px;
	margin-left: 60px;
	width: 60px;
	height: 35px;
	color: white;
	background-color: black;
	border-radius: 10px;
}